<div class='container' id='application'>
  <section id="video">
    <a href="javascript:void(0)" id="show_video"><%= image_tag "preview_cn.jpg" %></a>
    <embed class='video_code' style='display:none' src="http://player.youku.com/player.php/sid/XMzExODg2NDQ4/v.swf" allowFullScreen="true" quality="high" width="820" height="502" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
  </section>

  <section id='download'>
    <p>
      <a href='http://itunes.apple.com/us/app/isafeplayer/id471335004?ls=1&mt=8'><%= image_tag "app-store.png", :alt => "Get iSafePlayer on the AppStore", :width => 200 %></a>
      <small>要求 iPhone, iPod 4.0 +</small>
    </p>
    <p>
      <%= link_to image_tag("alipay_button.png"), alipay_path %>
      <small>如果您没有信用卡，可以使用支付宝支付。</small>
    </p>
  </section>

  <section id="title">
    <h1>“这是我用过最管用的，最实用的防盗软件。”</h1>
  </section>

  <section id='features'>
    <article class='clearfix' id="what">
      <section class='left'>
        <h2>iSafePlayer是什么东西?</h2>
        <p><strong>iSafePlayer</strong> 是一个<b>防盗</b>音乐播放器，可以播放存放在iPod播放器里的音乐，当你的手机被小偷偷了，或者遗忘带走的时候，它就会立刻大声报警，比如当你在公交车上听音乐的时候，你或许会闭上眼镜小睡一会，小偷会乘次机会拔去耳机，拿走你心爱的iPhone，如果你用的iSafePlayer，恭喜你，它立刻会大叫“抓贼啊”，让你免除手机被盗的痛苦。</p>
      </section>
      <aside class='right'>
        <%= image_tag "cover.jpg", :width => 250 %>
      </aside>
    </article>


    <article class='clearfix' id="how">
      <section class='left'>
        <h2>iSafePlayer 是怎么工作的呢 ?</h2>
        <p>
          <h3>如果你</h3>
          <ul>
            <li>
              使用iSafePlayer听音乐。
            </li>
            <li>
              使用有线或者蓝牙耳机。
            </li>
          </ul>
          <h3>当小偷</h3>
          <ul>
            <li>
              拔掉耳机。
            </li>
            <li>
              将手机拿到蓝牙耳机信号范围之外的地方（具体看蓝牙耳机的性能）。
            </li>
          </ul>
          <h3>iSafePlayer就会</h3>
          <ul>
            <li>
              立即用最大音量报警，无论你之前设定的是什么音量。
            </li>
            <li>
              一直震动手机。
            </li>
            <li>
              如果你有录自定义铃声，它就也会最大声地朗读出来。（您可以录入一些对你或者对小偷很敏感的声音，比如你的名字，或者“我是贼，我在偷iPhone，快来抓我。”）
            </li>
            <li>
              禁止音量被调低，它一直会大喊大叫。
            </li>
          </ul>
        </p>
      </section>
      <aside class='right'>
        <%= image_tag "player_cn.jpg", :width => 250 %>
        <br/>
        <%= image_tag "tutorial-1_cn.jpg", :width => 250 %>
      </aside>
    </article>

    <article class='clearfix' id="why">
      <section class='left'>
        <h2>为什么 iSafePlayer 最好的防盗 iPhone 应用 ?</h2>
        <p>
          <h3>它针对了一些很典型的被盗的实际情况：</h3>
          <ul>
            <li>我们大多数人丢手机都是在 <strong>公交车</strong>, <strong>地铁</strong>, <strong>人多的街上</strong> 或者 <strong>闹市区</strong></li>
            <li>大多数人在外面的时候都喜欢用iPhone来听音乐，而且基本上用的都是iPod播放器，虽然听音乐能够感觉出被盗，但是因为小偷离开迅速，当你感觉出来并且发现手机被偷时，小偷早已无踪影。</li>
          </ul>

          <h3>它解决了大多数其他防盗软件的重要缺点：</h3>
          <ul>
            <li>
              <strong>你必须每次都记得要打开这个应用，太麻烦。</strong>，但是每次丢手机就是因为我们粗心大意才导致的。<br/>
              <p><strong>而iSafePlayer</strong>，你每次都会因为需要出门的时候打开音乐而带开它，是个肯定忘不了的步骤，所以就算粗心大意也不会不要紧。</p>
            </li>
            <li>
              <strong>如果你启动了其他防盗应用，那么你的iPhone就不能做任何事情了。</strong>
              你不能锁屏，你不能听音乐，你不能浏览网页，你不能打游戏。如果你要打开其他应用，报警软件就会被关闭。<br/>
              <p><strong>而iSafePlayer</strong>，它是一个在后台运行的一个程序，只要你没有使用其他的播放器播放音乐，那么它将会一直守护着你的手机，与此同时您也可以玩游戏，浏览网页，看微博，发短信和锁屏。</p>
            </li>
            <li>
              <strong>容易被解除警报</strong><br/>大多数应用，你只要锁屏，或者按home键就失效了，或者把声音关掉就没有了。<br/>
              <p><strong>而iSafePlayer</strong>，只要你设置了锁屏密码，小偷是没有办法进入系统消除警报的，除非他选择关机，但是关机需要按住关机键几秒钟，并且滑动屏幕上的按钮才行。但是小偷当偷到手机后发现手机震动并且报警的时候，想必他已经没有那么冷静了，唯一想的就是立刻逃跑。</p>
            </li>
            <li>
              现在市面上所有的防盗软件大部分处理了两种情况：<br/>
                <strong>1. 当手机正在被偷的时候。</strong><br/>
                这类应用将会在有人触碰或者移动你手机的时候报警。这种情况只要你发现了你能够立刻拿回来你的手机，起码拿回来的几率比较大。<br/>
                <strong>2. 当手机已经被偷。</strong><br/>
                这类应用将会帮助你跟踪你的手机当前的位置，电话号码和摄像头拍照。尽管能够获取很多信息，但是要想把手机拿回来任然是一件非常难和复杂的事情。<br/>
              <p><strong>而iSafePlayer</strong>，它是正对第一种情况的防盗软件，尽早发现和防止手机被盗。</p>
            </li>
          </ul>
        </p>
      </section>
      <aside class='right'>
        <%= image_tag "tutorial-2_cn.jpg", :width => 250 %>
        <br/>
        <%= image_tag "tutorial-3_cn.jpg", :width => 250 %>
        <br/>
        <%= image_tag "tutorial-4_cn.jpg", :width => 250 %>
      </aside>
    </article>
  </section>

  <section id='footer_download'>
    <h2>哪里我能买到它呢 ?</h2>
    <p>
      <a href='http://itunes.apple.com/us/app/isafeplayer/id471335004?ls=1&mt=8'><%= image_tag "app-store.png", :width => 200 %></a>
      <small>要求 iPhone, iPod 4.0 +</small>
    </p>
    <p>
      <%= link_to image_tag("alipay_button.png"), alipay_path %>
      <small>如果您没有信用卡，可以使用支付宝支付。</small>
    </p>
  </section>
</div>