<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <strong><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</strong>
      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %> <small>( <%= t ".private" %> )</small><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.check_box :want_newsletter %>
    <%= f.label :want_newsletter, t(".want_newsletter") %>
  </div>
  <br/><br/>
  <div class="actions">
    <%= link_to t(".back_to_list"), feedbacks_path %>
    <%= f.submit t(".submit") %>
  </div>
<% end %>
