<!DOCTYPE html>
<html>
<head>
  <title><%= t "title" %></title>
  <meta content='iSafePlayer, iphone, app, anti-theft, player' name='keywords' />
  <meta content='iSafePlayer anti-theft player.' name='description' />
  <link rel="shortcut icon" href="/assets/favicon.ico">

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if IE]>
    <%= javascript_include_tag "html5/html5" %>
    <%= stylesheet_link_tag    "iefix/iefix" %>
  <![endif]-->

  <%= render "shared/ga" %>

  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/GJ0W5b8Lc4wCVu93ecBqQ.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
</head>
<body>
  <div id='wrapper'>
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </div>
</body>
</html>